@import "../../../assets/styles/media_mixins.scss";
@import "../../../assets/styles/mixins.scss";
.block {
  text-align: center;
}

.img {
  width: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
  @include none-select;

  @include _360 {
    width: 50px;
  }
  @include _800 {
    width: 80px;
  }
}

.subtitle {
  font-family: 'CeraRoundPro-Black';
  font-size: 11px;
  text-transform: uppercase;

  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  @include none-select;

  color: var(--color-white);

  @include _800  {
    font-size: 10px
  };
  @include none-select;
}