@import "../../../assets/styles/media_mixins.scss";

.block {
  text-align: center;
}

.img {
  width: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;

  @include _360 {
    width: 60px;
  }

  @include _1080 {
    width: 85px;
  }
}

.subtitle {
  font-family: 'CeraRoundPro-Black';
  font-size: 11px;
  text-transform: uppercase;

  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--color-white);

  @include _1080 {
    font-size: 15px
  }
}