@import "../../../assets/styles/media_mixins.scss";
@import "../../../assets/styles/mixins.scss";

.checkbox_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.checkbox {
  flex:0 0 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom checkbox appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  border-radius: 50%;
  background-color: var(--color-light-greenblue);
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;

  @include _360 {
    flex:0 0 30px;
    width: 30px;
    height: 30px;
  }

  @include _800  {
    flex:0 0 33px;
    width: 33px;
    height: 33px;
  }

  &:checked::after {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--color-white);
    @include _800  {
      width: 12px;
      height: 12px;
    }
  }

  &:focus {
    outline: none !important;
  }

}
.option {
  font-family: 'CeraRoundPro-Medium';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 5px;
  @include none-select;
  cursor: pointer;
  @include _800  {
    gap: 2px;
    font-size: 19px;
    line-height: 22px;
  }
}