@import "../../assets/styles/media_mixins.scss";
.item {
  border-radius: 5px;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;


  font-family: 'CeraRoundPro-Medium';
  font-size: calc(0.5em + 1.5vmin);
  line-height: 30px;
  letter-spacing: 0em;
  color: var(--color-white);


  width: calc((100% - (2px * 12)) / 13); 
  height: calc((100vw - var(--containter-padding) * 2 - (2px * 12)) / 13); 

  box-shadow: 0px -4px 30px 0px #FFFFFF73 inset;
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.1), rgba(217, 217, 217, 0.1));

  @include _1080 {
    width: 39px; 
    height: 39px; 
    font-size: 18px;
    border-radius: 11px;
  }
}

.active {
  background: linear-gradient(0deg, #027084, #027084);
  box-shadow: none;
  box-shadow: 0px -4px 13px 0px #ffffff45 inset;
}