@import "../../assets/styles/media_mixins.scss";
@import "../../assets/styles/mixins.scss";

.bg {
  min-height: 100vh;
  background: url('../../assets/images/bg-doctors.png') center top;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;

  @include _800 {
    background: url('../../assets/images/bg-test-pc.png') center top no-repeat;
    background-size: auto contain;
    background-attachment: fixed;
  }
}

.screen {
  padding: 3% 0 0 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;

  @include _800 {
    max-width: var(--containter-width);
    margin: 0 auto;
    padding: 1% 0 0 0;
  }
}

.title {
  margin: 5px 0;
  letter-spacing: 0.05em;

  @include _360 {
    margin: 10px 0;
  }

  ;

  @include _800 {
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.05em;
  }

  ;
  @include none-select;
}

.title_outline {
  @include _800 {
    -webkit-text-stroke: 5px var(--color-greenblue);
  }
}

.info_bubble {
  padding: 20px 10px;
  box-shadow: none;
  border: none;

  @include _800 {
    padding: 22px 20px;
  }
}

.select_doctors {
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'CeraRoundPro-Medium';
  color: var(--color-white);
  font-size: 17px;
  margin-bottom: 10px;

  @include _800 {
    font-size: 20px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.bubble_card {
  background: linear-gradient(0deg, #46C2DA, #46C2DA);
  border: 1px solid #D8D8D8;
  box-shadow: none;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include _800 {
    padding: 10px;
  }
}

.bubble_img_wrapper {
  background: #F8F8F8;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.bubble_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-family: 'CeraRoundPro-Medium';
  color: var(--color-white);
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  @include _360 {

    font-size: 14px;
  }
}

.btn {
  font-size: 13px;
  padding: 8px 0;
  margin-bottom: 5px;

  @include _360 {
    padding: 0;
  }

  @include _800 {
    font-size: 13px;
    height: 31px;
  }
}


.block {
  height: 120px;

  @include _800 {
    height: 110px;
  }
}