.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  font-family: 'CeraRoundPro-Black';
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center
}

.text {
  position: relative;
}

.red {
  background: linear-gradient(96.63deg, #FE588C 12.93%, #EE175B 94.21%);
  color: var(--color-white);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 10px 0px #00000026;
  box-shadow: 0px -4px 30px 0px #FFFFFF73 inset;
  border-radius: 10px;

  &_outline {
    -webkit-text-stroke: 5px var(--color-red);;
    user-select: none;
    position: absolute;
    top: 0;
  }

  &_front {
    position: absolute;
    z-index: 1;
    top: 0;
    color: var(--color-white);
  }
}

.blue {
  background: linear-gradient(180deg, #15D9FF 0%, #00879F 100%);
  color: var(--color-white);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 10px 0px #00000026;
  box-shadow: 0px -4px 30px 0px #FFFFFF73 inset;
  border-radius: 10px;

  &_outline {
    -webkit-text-stroke: 5px #006D82;;
    user-select: none;
    position: absolute;
    top: 0;
  }

  &_front {
    position: absolute;
    z-index: 1;
    top: 0;
    color: var(--color-white);
  }
}