@import "../../../assets/styles/media_mixins.scss";


.input {
  background-color: var(--color-light-greenblue);
  border: 2px solid #FFFFFF;
  border-radius: 10px;

  height: 44px;
  width: 100%;

  font-family: 'CeraRoundPro-Medium';
  font-size: 19px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0.005em;

  color: white;
  padding: 0 25px;

  @include _1080 {
    height: 49px;
  }
}