@import "../../assets/styles/media_mixins.scss";

.screen {
  background: url('../../assets/images/bg-test.png') center center;
  background-repeat: no-repeat;
  background-size: contain;

  height: 100vh;

  padding: 5% 0 8% 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 2px;
  margin-top: 30px;
}

.bubble_wrapper {
  margin-top: 30px;
  @include _390 {
    margin-top: 90px;
  }
}

.bubble_p {
  padding: 38px 42px;
}

.btns {
  margin-top: 10px;
}
