@import "../../assets/styles/media_mixins.scss";
@import "../../assets/styles/mixins.scss";

.bg {
  min-height: 100vh;
  background: url('../../assets/images/bg-doctors.png') center top;
  background-repeat: no-repeat;
  background-size: 100% 100vh;

  @include _1080 {
    background: url('../../assets/images/bg-test-pc.png') center top no-repeat;
    background-size: auto contain;
  }
}

.screen {
  padding: 3% 0 0 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include _1080 {
    max-width: var(--containter-width);
    margin: 0 auto;
    padding: 1% 0 0 0;
  }
}

.title {
  margin: 5px 0;
  letter-spacing: 0.05em;

  @include _360 {
    margin: 10px 0;
  }

  ;

  @include _1080 {
    font-size: 33px;
    letter-spacing: 0.05em;
    margin-top: 23px;
    margin-bottom: 21px;
  }

  ;
  @include none-select;
}

.title_outline {
  @include _1080 {
    -webkit-text-stroke: 6px var(--color-greenblue);
  }

  @include _1080 {
    -webkit-text-stroke: 7px var(--color-greenblue);
  }
}

.info_bubble {
  padding: 20px 10px;
  box-shadow: none;
  border: none;

  @include _1080 {
    padding: 22px 20px;
  }
}

.select_doctors {
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'CeraRoundPro-Medium';
  color: var(--color-white);
  font-size: 17px;
  margin-bottom: 10px;

  @include _1080 {
    font-size: 26.37px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.first_block {
  display: flex;
  align-items: flex-start;;
  gap: 10px;

  @include _1080 {
    gap: 14px;
  }
}

.name_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-family: 'CeraRoundPro-Medium';
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);

  @include _1080 {
    font-size: 28px;
    line-height: 28px;
  }
}

.title {
  margin-top: -4px;
  font-size: 14px;
}

.title_outline {
  -webkit-text-stroke: 4px var(--color-red);
}


.bubble_img_wrapper {
  background: #F8F8F8;
  border: none;
  box-shadow: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-basis: 70%;

  @include _1080 {

    flex-basis: 60%;

  }

}

.bubble_img {
  width: 80%;

  @include _1080 {
    width: 70%;
  }
}

.second_block {
  margin-top: 20px;
  font-family: 'CeraRoundPro-Regular';
  font-size: 18px;
  line-height: 20px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;

  @include _1080 {
    font-size: 16px;
    line-height: 21px;
  }
}

.block {
  height: 120px;

  @include _1080 {
    height: 140px;
  }
}