@import "../../assets/styles/media_mixins.scss";
@import "../../assets/styles/mixins.scss";

.bg {
  min-height: 100vh;
  background: url('../../assets/images/bg-doctors.png') center top;
  background-repeat: no-repeat;
  background-size: 100% 100vh;

  @include _800 {
    background: url('../../assets/images/bg-test-pc.png') center top no-repeat;
    background-size: auto contain;
  }
}

.screen {
  padding: 3% 0 0 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include _800 {
    max-width: var(--containter-width);
    margin: 0 auto;
    padding: 1% 0 0 0;
  }
}

.info_bubble {
  padding: 20px 10px;
  box-shadow: none;
  border: none;

  @include _800 {
    padding: 17px 12px;
  }
}

.text_block {
  height: 150px;
  overflow-y: scroll;
  padding-right: 15px;
  padding-left: 2px;
  &::-webkit-scrollbar {
    background: #004956;
    width: 13px;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #30A1B7;
    width: 13px;
    border-radius: 12px;
  }
  @include _360 {
    height: 27vh;
  }
  @include _800 {
    height: 200px;
  }
}

.first_block {
  display: flex;
  align-items: flex-start;
  ;
  gap: 10px;

  @include _800 {
    gap: 14px;
  }
}


.subtitle {
  font-family: 'CeraRoundPro-Medium';
  margin-bottom: 8px;
}

.list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 8px;
}

.item {
  margin-bottom: 2px;
}

.name_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-family: 'CeraRoundPro-Medium';
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  margin-top: 10px;
  width: 80%;
  @include _800 {
    font-size: 21px;
    line-height: 21px;
  }
}

.title {
  margin-top: -4px;
  font-size: 14px;

  @include _800 {
    font-size: 12px;
  }
}

.title_outline {
  -webkit-text-stroke: 4px var(--color-red);
}


.bubble_img_wrapper {
  background: #F8F8F8;
  border: none;
  box-shadow: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-basis: 80%;
  @include none-select;
}

.bubble_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include none-select;
}

.second_block {
  margin-top: 20px;
  font-family: 'CeraRoundPro-Regular';
  font-size: 16px;
  line-height: 17px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 5px;
  justify-content: space-between;

  @include _800 {
    font-size: 15px;
    line-height: 16px;
  }
}

.block {
  height: 120px;

  @include _800 {
    height: 110px;
  }
}