@import "../../assets/styles/media_mixins.scss";
@import "../../assets/styles/mixins.scss";

.bg {
  min-height: 100vh;
  background: url('../../assets/images/bg-test.png') center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include _800 {
    background: url('../../assets/images/bg-test-pc.png') center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.screen {
  padding: 5% 0 5% 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  @include _800 {
    max-width: var(--containter-width);
    margin: 0 auto;
    padding: 1% 0 0 0;
  }
}

.title {
  @include _800 {
    font-size: 25px;
    line-height: 27px;
    letter-spacing: 0.05em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ;
  @include none-select;
}

.title_outline {
  -webkit-text-stroke: 6px var(--color-greenblue);
}

.img_block {
  position: relative;
}

.img {
  width: 100%;
  border-radius: 11px;
  margin-top: 10px;
  @include none-select;
}

.name_block {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include _800 {
    background-color: #00495636;
  }
}

.name {
  font-size: 16px;
  letter-spacing: 0.05em;

  @include _800 {
    font-size: 18px;
  }

  ;
  @include none-select;
}

.info_bubble {
  box-shadow: none;
  border: none;
  padding: 35px 17px 10px 17px;
  margin-top: -30px;
  @include _360 {
    padding: 40px 17px 30px 17px;
  }

  @include _800 {
    height: 184px;
    padding: 40px 9px 10px 9px;
  }
}

.info {
  font-family: 'CeraRoundPro-Regular';
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
  @include none-select;
  @include _800 {
    font-size: 12.5px;
    line-height: 14px;
  }
}

.block {
  @include none-select;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;

}

.modal_title {
  margin-top: 10px;
  margin-bottom: 20px;

  @include _800 {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  ;
  @include none-select;
}

.modal_title_outline {
  -webkit-text-stroke: 5px #006D82;

  @include _800 {
    -webkit-text-stroke: 9px #006D82;
  }
}

.modal_btns {

  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include _800 {
    gap: 15px;
  }
}

.modal_share_outline {
  -webkit-text-stroke: 4px #33B5CD;
}

.modal_btn {
  padding: 5px;
  font-size: 15px;


  @include _360 {
    font-size: 20px;
  }

  @include _800 {
    padding: 0px;
    font-size: 26px;
  }
}