@import "../../assets/styles/media_mixins.scss";

.bg {
  min-height: 100vh;
  background: url('../../assets/images/bg-test.png') center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include _1080 {
    background: url('../../assets/images/bg-test-pc.png') center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.screen {
  padding: 5% 0 8% 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  @include _1080 {
    max-width: var(--containter-width);
    margin: 0 auto;
    padding: 1% 0 0 0;
  }
}

.title {
  @include _1080 {
    font-size: 33px;
    line-height: 10px;
    letter-spacing: 0.05em;
    margin-top: 23px;
    margin-bottom: 11px;
  }
}

.title_outline {
  @include _1080 {
    -webkit-text-stroke: 7px var(--color-greenblue);
  }
}

.img_block {
  position: relative;
}

.img {
  width: 100%;
  border-radius: 11px;
  margin-top: 10px;
}

.name_block {
  position: absolute;
  bottom: 0;
  opacity: 0.9;
  width: 100%;
  height: 38px;
  background-color: var(--color-dark-greenblue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include _1080 {
    height: 50px;
  }
}

.name {
  font-size: 16px;
  @include _1080 {
    font-size: 22px;
  }
}

.info_bubble {
  box-shadow: none;
  border: none;
  padding: 35px 17px 10px 17px;
  margin-top: -30px;

  @include _360 {
    padding: 40px 17px 30px 17px;
  }

  @include _1080 {
    padding: 40px 17px 50px 17px;
  }
}

.info {
  font-family: 'CeraRoundPro-Regular';
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
  @include _1080 {
    font-size: 17px;
  }
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px
}
.btn_result {

  @include _1080 {
    height: 69px;
  }
}