@font-face {
  font-family: 'CeraRoundPro-Regular';
  src: url('../fonts/CeraRoundPro-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CeraRoundPro-Medium';
  src: url('../fonts/CeraRoundPro-Medium.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CeraRoundPro-Bold';
  src: url('../fonts/CeraRoundPro-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CeraRoundPro-Black';
  src: url('../fonts/CeraRoundPro-Black.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}