:root {
  --color-white: #FFFFFF;
  --color-red: #C30155;
  --color-greenblue: #027084;
  --color-dark-greenblue: #004956;
  --color-light-greenblue: #008BA5;

  --containter-padding: 20px;
  --containter-width: 540px;
}
