@import "../../assets/styles/media_mixins.scss";
@import "../../assets/styles/mixins.scss";

.bg {
  min-height: 100vh;
  background: url('../../assets/images/bg-test.png') center top;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment:fixed;
  
  @include _800 {
    background: url('../../assets/images/bg-test-pc.png') center top no-repeat;
    background-size: auto contain;
  }
}

.screen {
  padding: 6% 0 0 0;
  padding-left: var(--containter-padding);
  padding-right: var(--containter-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include _800 {
    max-width: var(--containter-width);
    margin: 0 auto;
    padding: 1% 0 0 0;
  }
}

.title {
  margin: 5px 0;
  letter-spacing: 0.05em;

  @include _360 {
    margin: 10px 0;
  }

  ;

  @include _800 {
    letter-spacing: 0.05em;
    font-size: 25px;
    line-height: 29px;
  }

  ;
  @include none-select;
}

.title_outline {
  @include _800 {
    -webkit-text-stroke: 6px var(--color-greenblue);
  }
}

.signup_bubble {
  padding: 20px 10px;
  box-shadow: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  @include _800 {
    padding: 22px 20px;
  }
}

.signup_bubble_send_inactive {
  display: none;
}

.signup_bubble_send {
  position: absolute;
  width: 98%;
  left: 1%;
  height: 98%;
  background-color: var(--color-greenblue);
  top: 1%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.info_text {
  font-family: 'CeraRoundPro-Regular';
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0em;
  color: var(--color-white);
  margin-bottom: 10px;
  text-align: center;
  @include _800  {
    font-size: 14px;
    line-height: 15px;
  }
}

.input {
  @include _800 {
    height: 45px;
    font-size: 17px;
  }
}

.btn {
  height: 56px;
  margin-top: 10px;
}

.block {
  height: 120px;

  @include _800 {
    height: 110px;
  }
}